version: "2.1"

x-s6-service: &s6-service
  restart: "on-failure"
  tmpfs:
    - /tmp
  environment: &s6-environment
    S6_VERBOSITY: 2
    PUID: "1000"
    PGID: "1000"
  entrypoint:
    - /bin/bash
    - -c
  command:
    - |
      if [[ ${DISABLE,,} =~ true|yes|on|1 ]]; then
        echo "DISABLE is truthy, exiting..."
        exit 0
      fi
      exec /init

volumes:
  downloads: {}
  duplicati: {}
  jellyfin: {}
  letsencrypt: {}
  netdatalib: {}
  netdatacache: {}
  nzbhydra: {}
  ombi: {}
  overseerr: {}
  plex: {}
  profilarr: {}
  prowlarr: {}
  proxy: {}
  radarr: {}
  sabnzbd: {}
  sonarr: {}
  syncthing: {}
  tautulli: {}
  tailscale: {}
  tailscale-run: {}

services:

  # https://github.com/klutchell/balena-tailscale
  tailscale:
    build: tailscale
    restart: "on-failure"
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    labels:
      io.balena.features.kernel-modules: 1
    environment:
      TS_HOSTNAME: mediaserver
    volumes:
      - tailscale:/var/lib/tailscale
      - tailscale-run:/var/run/tailscale
    network_mode: host

  # https://github.com/marvinvr/docktail
  docktail:
    image: ghcr.io/marvinvr/docktail:0.5.3@sha256:9a83608b33afce86ceb17a9ae0fe2d32064b93ec774d8e597061a55ab6d08e8d
    labels:
      io.balena.features.balena-socket: 1
    environment:
      DOCKER_HOST: unix:///var/run/balena.sock
      TAILSCALE_SOCKET: /var/run/tailscale/tailscaled.sock
      LOG_LEVEL: info
      RECONCILE_INTERVAL: 60s
    volumes:
      - tailscale-run:/var/run/tailscale

  # https://hub.docker.com/r/jc21/nginx-proxy-manager
  # https://github.com/NginxProxyManager/nginx-proxy-manager
  # https://nginxproxymanager.com/
  nginx:
    <<: *s6-service
    image: jc21/nginx-proxy-manager:2.13.5@sha256:cd9eba29ca132cb006729f2cb2660126453f84818c2f7d75963ad7b61ef696bd
    volumes:
      - proxy:/data
      - letsencrypt:/etc/letsencrypt
    ports:
      - 80:80/tcp
      - 443:443/tcp
      - 127.0.0.1:81:81/tcp
    labels:
      docktail.service.enable: true
      docktail.service.name: nginx-mediaserver
      docktail.service.port: 81
      docktail.service.protocol: http
      docktail.service.service-port: 443
      docktail.service.service-protocol: https

  # https://docs.linuxserver.io/images/docker-duplicati
  duplicati:
    <<: *s6-service
    image: lscr.io/linuxserver/duplicati:2.2.0@sha256:0994aa6da740efe41d4070cc618d525b5b42a13645896344ca0eeafab5f3bd65
    environment:
      <<: *s6-environment
      PUID: "0"
      PGID: "0"
    volumes:
      - duplicati:/config
      # any volumes that might be worth backing up
      - syncthing:/volumes/syncthing
      - plex:/volumes/plex
      - sonarr:/volumes/sonarr
      - radarr:/volumes/radarr
      - nzbhydra:/volumes/nzbhydra
      - jellyfin:/volumes/jellyfin
      - prowlarr:/volumes/prowlarr
      - profilarr:/volumes/profilarr
      - ombi:/volumes/ombi
      - overseerr:/volumes/overseerr
      - sabnzbd:/volumes/sabnzbd
      - downloads:/volumes/downloads
      - proxy:/volumes/proxy
      - letsencrypt:/volumes/letsencrypt
      - tautulli:/volumes/tautulli
    ports:
      - 127.0.0.1:8200:8200/tcp
    labels:
      # https://github.com/marvinvr/docktail
      docktail.service.enable: true
      docktail.service.name: duplicati-mediaserver
      docktail.service.port: 8200
      docktail.service.protocol: http
      docktail.service.service-port: 443
      docktail.service.service-protocol: https

  # https://docs.linuxserver.io/images/docker-jellyfin
  jellyfin:
    <<: *s6-service
    image: lscr.io/linuxserver/jellyfin:10.11.5@sha256:6e614901a5e9d04f03b2b84363fcc69285635d4149e23e4cac30b1c9a8ccddac
    devices:
      - /dev/dri:/dev/dri
    volumes:
      - jellyfin:/config
      - downloads:/downloads
    ports:
      - 127.0.0.1:8096:8096/tcp
    labels:
      # https://github.com/marvinvr/docktail
      docktail.service.enable: true
      docktail.service.name: jellyfin
      docktail.service.port: 8096
      docktail.service.protocol: http
      docktail.service.service-port: 443
      docktail.service.service-protocol: https
      # docktail.funnel.enable: true # Enable public internet access
      # docktail.funnel.port: 8096 # Container port for funnel

  # https://docs.linuxserver.io/images/docker-nzbhydra
  nzbhydra:
    <<: *s6-service
    image: lscr.io/linuxserver/nzbhydra2:8.1.2@sha256:fd830b3b1a36175eb39c895b5188ef1d531c9b7ea395bd3e37978f12aca94302
    volumes:
      - nzbhydra:/config
      - downloads:/downloads
    ports:
      - 127.0.0.1:5076:5076/tcp
    labels:
      # https://github.com/marvinvr/docktail
      docktail.service.enable: true
      docktail.service.name: nzbhydra
      docktail.service.port: 5076
      docktail.service.protocol: http
      docktail.service.service-port: 443
      docktail.service.service-protocol: https

  # https://docs.linuxserver.io/images/docker-ombi
  ombi:
    <<: *s6-service
    image: lscr.io/linuxserver/ombi:4.47.1@sha256:b904acba5e70dc30572e144aa2afaaef2b65a37fa023235a784a0f0dcd30da2a
    volumes:
      - ombi:/config
    ports:
      - 127.0.0.1:3579:3579/tcp
    labels:
      # https://github.com/marvinvr/docktail
      docktail.service.enable: true
      docktail.service.name: ombi
      docktail.service.port: 3579
      docktail.service.protocol: http
      docktail.service.service-port: 443
      docktail.service.service-protocol: https

  # https://docs.linuxserver.io/images/docker-overseerr
  overseerr:
    <<: *s6-service
    image: lscr.io/linuxserver/overseerr:1.34.0@sha256:f6a782e44742a02bdb6032d32ebb4e9615e261140f879be897b28cdb40ff800e
    volumes:
      - overseerr:/config
    ports:
      - 127.0.0.1:5055:5055/tcp
    labels:
      # https://github.com/marvinvr/docktail
      docktail.service.enable: true
      docktail.service.name: overseerr
      docktail.service.port: 5055
      docktail.service.protocol: http
      docktail.service.service-port: 443
      docktail.service.service-protocol: https

  # https://docs.linuxserver.io/images/docker-plex
  plex:
    <<: *s6-service
    image: lscr.io/linuxserver/plex:1.42.2@sha256:7cc7874ad35b105fe1fe4d99ef27be9c5eb2f4115ccf91af5a7283cae0024599
    devices:
      - /dev/dri:/dev/dri
    volumes:
      - plex:/config
      - downloads:/downloads
    ports:
      - 127.0.0.1:32400:32400/tcp
    labels:
      # https://github.com/marvinvr/docktail
      docktail.service.enable: true
      docktail.service.name: plex
      docktail.service.port: 32400
      docktail.service.protocol: http
      docktail.service.service-port: 443
      docktail.service.service-protocol: https
      # docktail.funnel.enable: true # Enable public internet access
      # docktail.funnel.port: 32400 # Container port for funnel

  # https://docs.linuxserver.io/images/docker-prowlarr
  prowlarr:
    <<: *s6-service
    image: lscr.io/linuxserver/prowlarr:2.3.0@sha256:67a8aaedcfd6989f3030b937a6a07007310b1dfc7ee8df16d2cbfa48d1c1158c
    volumes:
      - prowlarr:/config
      - downloads:/downloads
    ports:
      - 127.0.0.1:9696:9696/tcp
    labels:
      # https://github.com/marvinvr/docktail
      docktail.service.enable: true
      docktail.service.name: prowlarr
      docktail.service.port: 9696
      docktail.service.protocol: http
      docktail.service.service-port: 443
      docktail.service.service-protocol: https

  # https://github.com/Dictionarry-Hub/profilarr
  # https://dictionarry.dev/profilarr-setup/installation
  profilarr:
    <<: *s6-service
    image: santiagosayshey/profilarr:latest@sha256:a47ad66889a4c78801c5caaf06a7524173ee398e7b8907146f628dbb77c73ece
    environment:
      <<: *s6-environment
    volumes:
      - profilarr:/config
    ports:
      - 127.0.0.1:6868:6868/tcp
    labels:
      # https://github.com/marvinvr/docktail
      docktail.service.enable: true
      docktail.service.name: profilarr
      docktail.service.port: 6868
      docktail.service.protocol: http
      docktail.service.service-port: 443
      docktail.service.service-protocol: https

  # https://docs.linuxserver.io/images/docker-radarr
  radarr:
    <<: *s6-service
    image: lscr.io/linuxserver/radarr:6.0.4@sha256:6c0948b42c149e36bb3dbc0b64d36c77b2d3c9dccf1b424c4f72af1e57ba0c21
    volumes:
      - radarr:/config
      - downloads:/downloads
    ports:
      - 127.0.0.1:7878:7878/tcp
    labels:
      # https://github.com/marvinvr/docktail
      docktail.service.enable: true
      docktail.service.name: radarr
      docktail.service.port: 7878
      docktail.service.protocol: http
      docktail.service.service-port: 443
      docktail.service.service-protocol: https

  # https://docs.linuxserver.io/images/docker-sabnzbd
  sabnzbd:
    <<: *s6-service
    image: lscr.io/linuxserver/sabnzbd:4.5.5@sha256:ed10a7e9fc019aded46f1591f236e9be6d75c99e7017b897b502667cd65afc4c
    volumes:
      - sabnzbd:/config
      - downloads:/downloads
    ports:
      - 127.0.0.1:8080:8080/tcp
    labels:
      # https://github.com/marvinvr/docktail
      docktail.service.enable: true
      docktail.service.name: sabnzbd
      docktail.service.port: 8080
      docktail.service.protocol: http
      docktail.service.service-port: 443
      docktail.service.service-protocol: https

  # https://docs.linuxserver.io/images/docker-sonarr
  sonarr:
    <<: *s6-service
    image: lscr.io/linuxserver/sonarr:4.0.16@sha256:8b9f2138ec50fc9e521960868f79d2ad0d529bc610aef19031ea8ff80b54c5e0
    volumes:
      - sonarr:/config
      - downloads:/downloads
    ports:
      - 127.0.0.1:8989:8989/tcp
    labels:
      # https://github.com/marvinvr/docktail
      docktail.service.enable: true
      docktail.service.name: sonarr
      docktail.service.port: 8989
      docktail.service.protocol: http
      docktail.service.service-port: 443
      docktail.service.service-protocol: https

  # https://docs.linuxserver.io/images/docker-syncthing
  syncthing:
    <<: *s6-service
    image: lscr.io/linuxserver/syncthing:2.0.12@sha256:b2dbc42f95154986ae3578256f3fa9612fa7e930184d823aa56192b478fa0b8a
    volumes:
      - syncthing:/config
      # any volumes that might be worth syncronizing between machines
      - plex:/volumes/plex
      - sonarr:/volumes/sonarr
      - radarr:/volumes/radarr
      - nzbhydra:/volumes/nzbhydra
      - jellyfin:/volumes/jellyfin
      - prowlarr:/volumes/prowlarr
      - profilarr:/volumes/profilarr
      - ombi:/volumes/ombi
      - overseerr:/volumes/overseerr
      - sabnzbd:/volumes/sabnzbd
      - downloads:/volumes/downloads
      - proxy:/volumes/proxy
      - tautulli:/volumes/tautulli
    ports:
      - 127.0.0.1:8384:8384/tcp
      - 22000:22000/tcp
      - 22000:22000/udp
      - 21027:21027/udp
    labels:
      # https://github.com/marvinvr/docktail
      docktail.service.enable: true
      docktail.service.name: syncthing-mediaserver
      docktail.service.port: 8384
      docktail.service.protocol: http
      docktail.service.service-port: 443
      docktail.service.service-protocol: https

  # https://docs.linuxserver.io/images/docker-tautulli
  tautulli:
    <<: *s6-service
    image: lscr.io/linuxserver/tautulli:2.16.0@sha256:cb2226d9ab37f084d67a396e3c79059ca7d0fa7e1b2e6f1a473472af2afa7b12
    volumes:
      - tautulli:/config
    ports:
      - 127.0.0.1:8181:8181/tcp
    labels:
      # https://github.com/marvinvr/docktail
      docktail.service.enable: true
      docktail.service.name: tautulli
      docktail.service.port: 8181
      docktail.service.protocol: http
      docktail.service.service-port: 443
      docktail.service.service-protocol: https

  # https://hub.docker.com/r/netdata/netdata
  netdata:
    image: netdata/netdata:v2.8.4@sha256:321fb7c3f854401a329798392cd681367fa528e95a7dfa7d539546d83ae1dd18
    restart: "on-failure"
    privileged: true
    cap_add:
      - SYS_PTRACE
    environment:
      DOCKER_HOST: "/var/run/balena.sock"
      PGID: "990" # ls -nd /var/run/balena.sock | awk '{print $4}'
    security_opt:
      - apparmor:unconfined
    tmpfs:
      - /tmp
    volumes:
      - netdatalib:/var/lib/netdata
      - netdatacache:/var/cache/netdata
    ports:
      - 127.0.0.1:19999:19999/tcp
    labels:
      io.balena.features.balena-socket: 1
      io.balena.features.procfs: 1
      io.balena.features.sysfs: 1
      # https://github.com/marvinvr/docktail
      docktail.service.enable: true
      docktail.service.name: netdata-mediaserver
      docktail.service.port: 19999
      docktail.service.protocol: http
      docktail.service.service-port: 443
      docktail.service.service-protocol: https
