version: "2.1"

volumes:
  downloads: {}
  duplicati: {}
  duplicati-tailscale: {}
  jellyfin: {}
  jellyfin-tailscale: {}
  letsencrypt: {}
  netdatalib: {}
  netdatacache: {}
  nzbhydra: {}
  nzbhydra-tailscale: {}
  ombi: {}
  ombi-tailscale: {}
  overseerr: {}
  overseerr-tailscale: {}
  plex: {}
  plex-tailscale: {}
  prowlarr: {}
  prowlarr-tailscale: {}
  proxy: {}
  nginx-tailscale: {}
  radarr: {}
  radarr-tailscale: {}
  sabnzbd: {}
  sabnzbd-tailscale: {}
  sonarr: {}
  sonarr-tailscale: {}
  syncthing: {}
  syncthing-tailscale: {}
  tautulli: {}
  tautulli-tailscale: {}

services:
  # https://docs.linuxserver.io/images/docker-plex
  plex:
    image: linuxserver/plex:1.32.7@sha256:ead806ccf8f02c57656d9a086de1962ba6d6b17f535924489ed66278051ad858
    restart: "on-failure"
    devices:
      - /dev/dri:/dev/dri
    environment:
      PUID: "1000"
      PGID: "1000"
      # https://github.com/tailscale-dev/docker-mod
      DOCKER_MODS: "ghcr.io/tailscale-dev/docker-mod:main"
      TAILSCALE_STATE_DIR: /var/lib/tailscale
      TAILSCALE_SERVE_MODE: https
      TAILSCALE_USE_SSH: 1
      TAILSCALE_HOSTNAME: mediaserver-plex
      TAILSCALE_SERVE_PORT: 32400
      TAILSCALE_FUNNEL: 1
    ports:
      - 127.0.0.1:32400:32400/tcp
    tmpfs:
      - /tmp
    volumes:
      - plex:/config
      - downloads:/downloads
      - plex-tailscale:/var/lib/tailscale
    entrypoint:
      - /bin/bash
      - -c
    command:
      - |
        [[ ${DISABLE,,} =~ true|yes|on|1 ]] && exit 0
        exec /init

  # https://docs.linuxserver.io/images/docker-jellyfin
  jellyfin:
    image: linuxserver/jellyfin:10.8.13@sha256:e611f50f2b6506261165c7267f709cbcbf247b186dbf1c1c737c1942e900a087
    restart: "on-failure"
    devices:
      - /dev/dri:/dev/dri
    environment:
      PUID: "1000"
      PGID: "1000"
      # https://github.com/tailscale-dev/docker-mod
      DOCKER_MODS: "ghcr.io/tailscale-dev/docker-mod:main"
      TAILSCALE_STATE_DIR: /var/lib/tailscale
      TAILSCALE_SERVE_MODE: https
      TAILSCALE_USE_SSH: 1
      TAILSCALE_HOSTNAME: mediaserver-jellyfin
      TAILSCALE_SERVE_PORT: 8096
      TAILSCALE_FUNNEL: 1
    ports:
      - 127.0.0.1:8096:8096/tcp
    tmpfs:
      - /tmp
    volumes:
      - jellyfin:/config
      - downloads:/downloads
      - jellyfin-tailscale:/var/lib/tailscale
    entrypoint:
      - /bin/bash
      - -c
    command:
      - |
        [[ ${DISABLE,,} =~ true|yes|on|1 ]] && exit 0
        exec /init

  # https://docs.linuxserver.io/images/docker-sonarr
  sonarr:
    image: linuxserver/sonarr:3.0.10@sha256:3f25015afacc1823e59095c8c516a526cf29a92e94ebd0a01b9783259caac6a3
    restart: "on-failure"
    environment:
      PUID: "1000"
      PGID: "1000"
      # https://github.com/tailscale-dev/docker-mod
      DOCKER_MODS: "ghcr.io/tailscale-dev/docker-mod:main"
      TAILSCALE_STATE_DIR: /var/lib/tailscale
      TAILSCALE_SERVE_MODE: https
      TAILSCALE_USE_SSH: 1
      TAILSCALE_HOSTNAME: mediaserver-sonarr
      TAILSCALE_SERVE_PORT: 8989
    ports:
      - 127.0.0.1:8989:8989/tcp
    tmpfs:
      - /tmp
    volumes:
      - sonarr:/config
      - downloads:/downloads
      - sonarr-tailscale:/var/lib/tailscale
    entrypoint:
      - /bin/bash
      - -c
    command:
      - |
        [[ ${DISABLE,,} =~ true|yes|on|1 ]] && exit 0
        exec /init

  # https://docs.linuxserver.io/images/docker-radarr
  radarr:
    image: linuxserver/radarr:5.1.3@sha256:216f0a151aa8a3a27c4c1600e4b2fc80af19845cc1cdd7011e1f07a4eab10665
    restart: "on-failure"
    environment:
      PUID: "1000"
      PGID: "1000"
      # https://github.com/tailscale-dev/docker-mod
      DOCKER_MODS: "ghcr.io/tailscale-dev/docker-mod:main"
      TAILSCALE_STATE_DIR: /var/lib/tailscale
      TAILSCALE_SERVE_MODE: https
      TAILSCALE_USE_SSH: 1
      TAILSCALE_HOSTNAME: mediaserver-radarr
      TAILSCALE_SERVE_PORT: 7878
    ports:
      - 127.0.0.1:7878:7878/tcp
    tmpfs:
      - /tmp
    volumes:
      - radarr:/config
      - downloads:/downloads
      - radarr-tailscale:/var/lib/tailscale
    entrypoint:
      - /bin/bash
      - -c
    command:
      - |
        [[ ${DISABLE,,} =~ true|yes|on|1 ]] && exit 0
        exec /init

  # https://docs.linuxserver.io/images/docker-prowlarr
  prowlarr:
    image: linuxserver/prowlarr:1.10.5-develop@sha256:b3cb1039315cf3d0e5d9250ac3e35aacbe2b916c88b6d8635243e830780dbc83
    restart: "on-failure"
    environment:
      PUID: "1000"
      PGID: "1000"
      # https://github.com/tailscale-dev/docker-mod
      DOCKER_MODS: "ghcr.io/tailscale-dev/docker-mod:main"
      TAILSCALE_STATE_DIR: /var/lib/tailscale
      TAILSCALE_SERVE_MODE: https
      TAILSCALE_USE_SSH: 1
      TAILSCALE_HOSTNAME: mediaserver-prowlarr
      TAILSCALE_SERVE_PORT: 9696
    ports:
      - 127.0.0.1:9696:9696/tcp
    tmpfs:
      - /tmp
    volumes:
      - prowlarr:/config
      - downloads:/downloads
      - prowlarr-tailscale:/var/lib/tailscale
    entrypoint:
      - /bin/bash
      - -c
    command:
      - |
        [[ ${DISABLE,,} =~ true|yes|on|1 ]] && exit 0
        exec /init

  # https://docs.linuxserver.io/images/docker-nzbhydra
  nzbhydra:
    image: linuxserver/nzbhydra2:5.3.5@sha256:bac8f4f312e98eb0c02d1a7d428d331d194220b6d58041c4b3f186abd72c988f
    restart: "on-failure"
    environment:
      PUID: "1000"
      PGID: "1000"
      # https://github.com/tailscale-dev/docker-mod
      DOCKER_MODS: "ghcr.io/tailscale-dev/docker-mod:main"
      TAILSCALE_STATE_DIR: /var/lib/tailscale
      TAILSCALE_SERVE_MODE: https
      TAILSCALE_USE_SSH: 1
      TAILSCALE_HOSTNAME: mediaserver-nzbhydra
      TAILSCALE_SERVE_PORT: 5076
    ports:
      - 127.0.0.1:5076:5076/tcp
    tmpfs:
      - /tmp
    volumes:
      - nzbhydra:/config
      - downloads:/downloads
      - nzbhydra-tailscale:/var/lib/tailscale
    entrypoint:
      - /bin/bash
      - -c
    command:
      - |
        [[ ${DISABLE,,} =~ true|yes|on|1 ]] && exit 0
        exec /init

  # https://docs.linuxserver.io/images/docker-ombi
  ombi:
    image: linuxserver/ombi:4.43.5@sha256:701698f4374ec5892cfb4bf9bb372d0aa6198a2a44a096260a7c2e1701738dc3
    restart: "on-failure"
    environment:
      PUID: "1000"
      PGID: "1000"
      # https://github.com/tailscale-dev/docker-mod
      DOCKER_MODS: "ghcr.io/tailscale-dev/docker-mod:main"
      TAILSCALE_STATE_DIR: /var/lib/tailscale
      TAILSCALE_SERVE_MODE: https
      TAILSCALE_USE_SSH: 1
      TAILSCALE_HOSTNAME: mediaserver-ombi
      TAILSCALE_SERVE_PORT: 3579
    ports:
      - 127.0.0.1:3579:3579/tcp
    tmpfs:
      - /tmp
    volumes:
      - ombi:/config
      - ombi-tailscale:/var/lib/tailscale
    entrypoint:
      - /bin/bash
      - -c
    command:
      - |
        [[ ${DISABLE,,} =~ true|yes|on|1 ]] && exit 0
        exec /init

  # https://docs.linuxserver.io/images/docker-overseerr
  overseerr:
    image: lscr.io/linuxserver/overseerr:1.33.2@sha256:5f61a3b58b79bea860bdb78c13971464338487cb8b8312dc35af853a3084c91a
    restart: "on-failure"
    environment:
      PUID: "1000"
      PGID: "1000"
      # https://github.com/tailscale-dev/docker-mod
      DOCKER_MODS: "ghcr.io/tailscale-dev/docker-mod:main"
      TAILSCALE_STATE_DIR: /var/lib/tailscale
      TAILSCALE_SERVE_MODE: https
      TAILSCALE_USE_SSH: 1
      TAILSCALE_HOSTNAME: mediaserver-overseerr
      TAILSCALE_SERVE_PORT: 5055
    ports:
      - 127.0.0.1:5055:5055/tcp
    tmpfs:
      - /tmp
    volumes:
      - overseerr:/config
      - overseerr-tailscale:/var/lib/tailscale
    entrypoint:
      - /bin/bash
      - -c
    command:
      - |
        [[ ${DISABLE,,} =~ true|yes|on|1 ]] && exit 0
        exec /init

  # https://docs.linuxserver.io/images/docker-sabnzbd
  sabnzbd:
    image: linuxserver/sabnzbd:4.1.0@sha256:2648edb6b5bbdede1380abc3c63def6d28f3141cc2efdc45dd475b1840255543
    restart: "on-failure"
    environment:
      PUID: "1000"
      PGID: "1000"
      # https://github.com/tailscale-dev/docker-mod
      DOCKER_MODS: "ghcr.io/tailscale-dev/docker-mod:main"
      TAILSCALE_STATE_DIR: /var/lib/tailscale
      TAILSCALE_SERVE_MODE: https
      TAILSCALE_USE_SSH: 1
      TAILSCALE_HOSTNAME: mediaserver-sabnzbd
      TAILSCALE_SERVE_PORT: 8080
    ports:
      - 127.0.0.1:8080:8080/tcp
    tmpfs:
      - /tmp
    volumes:
      - sabnzbd:/config
      - downloads:/downloads
      - sabnzbd-tailscale:/var/lib/tailscale
    entrypoint:
      - /bin/bash
      - -c
    command:
      - |
        [[ ${DISABLE,,} =~ true|yes|on|1 ]] && exit 0
        exec /init

  # https://docs.linuxserver.io/images/docker-tautulli
  tautulli:
    image: linuxserver/tautulli:2.13.2@sha256:33af6a97f2b027e9b26799ae71e4596fed64051839b94e6b5da0e7cd41e4f218
    restart: "on-failure"
    environment:
      PUID: "1000"
      PGID: "1000"
      # https://github.com/tailscale-dev/docker-mod
      DOCKER_MODS: "ghcr.io/tailscale-dev/docker-mod:main"
      TAILSCALE_STATE_DIR: /var/lib/tailscale
      TAILSCALE_SERVE_MODE: https
      TAILSCALE_USE_SSH: 1
      TAILSCALE_HOSTNAME: mediaserver-tautulli
      TAILSCALE_SERVE_PORT: 8181
    ports:
      - 127.0.0.1:8181:8181/tcp
    tmpfs:
      - /tmp
    volumes:
      - tautulli:/config
      - sabnzbd-tailscale:/var/lib/tailscale
    entrypoint:
      - /bin/bash
      - -c
    command:
      - |
        [[ ${DISABLE,,} =~ true|yes|on|1 ]] && exit 0
        exec /init

  # https://hub.docker.com/r/netdata/netdata
  netdata:
    image: netdata/netdata:v1.43.2@sha256:0116a5a4dbfedd84d80eba320f5d99d547da5d9bc0841adde0d7f13bed25f73a
    restart: "on-failure"
    privileged: true
    cap_add:
      - SYS_PTRACE
    environment:
      DOCKER_HOST: "/var/run/balena.sock"
      PGID: "990" # ls -nd /var/run/balena.sock | awk '{print $4}'
    labels:
      io.balena.features.balena-socket: 1
      io.balena.features.procfs: 1
      io.balena.features.sysfs: 1
    ports:
      - 127.0.0.1:19999:19999/tcp
    security_opt:
      - apparmor:unconfined
    tmpfs:
      - /tmp
    volumes:
      - netdatalib:/var/lib/netdata
      - netdatacache:/var/cache/netdata
    entrypoint:
      - /bin/bash
      - -c
    command:
      - |
        [[ ${DISABLE,,} =~ true|yes|on|1 ]] && exit 0
        exec /usr/sbin/run.sh

  # https://docs.linuxserver.io/images/docker-duplicati
  duplicati:
    image: lscr.io/linuxserver/duplicati:v2.0.6.3-2.0.6.3_beta_2021-06-17-ls160@sha256:9cf7c7a14bf1474d44aa29d329552bf32af58090f4cfa5e61e35a88b2cd4677e
    restart: "on-failure"
    environment:
      PUID: "0"
      PGID: "0"
      # https://github.com/tailscale-dev/docker-mod
      DOCKER_MODS: "ghcr.io/tailscale-dev/docker-mod:main"
      TAILSCALE_STATE_DIR: /var/lib/tailscale
      TAILSCALE_SERVE_MODE: https
      TAILSCALE_USE_SSH: 1
      TAILSCALE_HOSTNAME: mediaserver-duplicati
      TAILSCALE_SERVE_PORT: 8200
    ports:
      - 127.0.0.1:8200:8200/tcp
    tmpfs:
      - /tmp
    volumes:
      - duplicati:/config
      - duplicati-tailscale:/var/lib/tailscale
      # any volumes that might be worth backing up
      - syncthing:/volumes/syncthing
      - plex:/volumes/plex
      - sonarr:/volumes/sonarr
      - radarr:/volumes/radarr
      - nzbhydra:/volumes/nzbhydra
      - jellyfin:/volumes/jellyfin
      - prowlarr:/volumes/prowlarr
      - ombi:/volumes/ombi
      - overseerr:/volumes/overseerr
      - sabnzbd:/volumes/sabnzbd
      - downloads:/volumes/downloads
      - proxy:/volumes/proxy
      - tautulli:/volumes/tautulli
    entrypoint:
      - /bin/bash
      - -c
    command:
      - |
        [[ ${DISABLE,,} =~ true|yes|on|1 ]] && exit 0
        exec /init

  # https://docs.linuxserver.io/images/docker-syncthing
  syncthing:
    image: lscr.io/linuxserver/syncthing:1.26.1@sha256:c0f140e840115ccda573e05d83604b0aaa89e25cadff4edfd45c43f0843a8241
    restart: "on-failure"
    environment:
      PUID: "1000"
      PGID: "1000"
      # https://github.com/tailscale-dev/docker-mod
      DOCKER_MODS: "ghcr.io/tailscale-dev/docker-mod:main"
      TAILSCALE_STATE_DIR: /var/lib/tailscale
      TAILSCALE_SERVE_MODE: https
      TAILSCALE_USE_SSH: 1
      TAILSCALE_HOSTNAME: mediaserver-syncthing
      TAILSCALE_SERVE_PORT: 8384
    ports:
      - 127.0.0.1:8384:8384/tcp
      - 22000:22000/tcp
      - 22000:22000/udp
      - 21027:21027/udp
    tmpfs:
      - /tmp
    volumes:
      - syncthing:/config
      - syncthing-tailscale:/var/lib/tailscale
      # any volumes that might be worth syncronizing between machines
      - plex:/volumes/plex
      - sonarr:/volumes/sonarr
      - radarr:/volumes/radarr
      - nzbhydra:/volumes/nzbhydra
      - jellyfin:/volumes/jellyfin
      - prowlarr:/volumes/prowlarr
      - ombi:/volumes/ombi
      - overseerr:/volumes/overseerr
      - sabnzbd:/volumes/sabnzbd
      - downloads:/volumes/downloads
      - proxy:/volumes/proxy
      - tautulli:/volumes/tautulli
    entrypoint:
      - /bin/bash
      - -c
    command:
      - |
        [[ ${DISABLE,,} =~ true|yes|on|1 ]] && exit 0
        exec /init

  # https://hub.docker.com/r/jc21/nginx-proxy-manager
  # https://github.com/NginxProxyManager/nginx-proxy-manager
  # https://nginxproxymanager.com/
  nginx-proxy-manager:
    build: nginx-proxy-manager
    restart: "on-failure"
    environment:
      # https://github.com/tailscale-dev/docker-mod
      TAILSCALE_STATE_DIR: /var/lib/tailscale
      TAILSCALE_SERVE_MODE: https
      TAILSCALE_USE_SSH: 1
      TAILSCALE_HOSTNAME: mediaserver-nginx
      TAILSCALE_SERVE_PORT: 81
    ports:
      - 80:80/tcp
      - 127.0.0.1:81:81/tcp
      - 443:443/tcp
    tmpfs:
      - /tmp
    volumes:
      - proxy:/data
      - letsencrypt:/etc/letsencrypt
      - nginx-tailscale:/var/lib/tailscale
    entrypoint:
      - /bin/bash
      - -c
    command:
      - |
        [[ ${DISABLE,,} =~ true|yes|on|1 ]] && exit 0
        exec /init
