version: "2.1"

x-s6-service: &s6-service
  restart: "on-failure"
  tmpfs:
    - /tmp
  environment: &s6-environment
    S6_VERBOSITY: 2
    PUID: "1000"
    PGID: "1000"
  entrypoint:
    - /bin/bash
    - -c
  command:
    - |
      if [[ ${DISABLE,,} =~ true|yes|on|1 ]]; then
        echo "DISABLE is truthy, exiting..."
        exit 0
      fi
      exec /init

volumes:
  downloads: {}
  duplicati: {}
  jellyfin: {}
  letsencrypt: {}
  netdatalib: {}
  netdatacache: {}
  nzbhydra: {}
  ombi: {}
  overseerr: {}
  plex: {}
  prowlarr: {}
  proxy: {}
  radarr: {}
  sabnzbd: {}
  sonarr: {}
  syncthing: {}
  tautulli: {}
  tailscale: {}
  tailscale-run: {}

services:

  # https://github.com/klutchell/balena-tailscale
  tailscale:
    build: tailscale
    restart: "on-failure"
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    labels:
      io.balena.features.kernel-modules: 1
    environment:
      TS_HOSTNAME: mediaserver
    volumes:
      - tailscale:/var/lib/tailscale
      - tailscale-run:/var/run/tailscale
    network_mode: host

  # https://github.com/marvinvr/docktail
  docktail:
    image: ghcr.io/marvinvr/docktail:0.5.3@sha256:9a83608b33afce86ceb17a9ae0fe2d32064b93ec774d8e597061a55ab6d08e8d
    labels:
      io.balena.features.balena-socket: 1
    environment:
      DOCKER_HOST: unix:///var/run/balena.sock
      TAILSCALE_SOCKET: /var/run/tailscale/tailscaled.sock
      LOG_LEVEL: info
      RECONCILE_INTERVAL: 60s
    volumes:
      - tailscale-run:/var/run/tailscale

  # https://hub.docker.com/r/jc21/nginx-proxy-manager
  # https://github.com/NginxProxyManager/nginx-proxy-manager
  # https://nginxproxymanager.com/
  nginx:
    <<: *s6-service
    image: jc21/nginx-proxy-manager:2.13.5@sha256:cd9eba29ca132cb006729f2cb2660126453f84818c2f7d75963ad7b61ef696bd
    volumes:
      - proxy:/data
      - letsencrypt:/etc/letsencrypt
    ports:
      - 80:80/tcp
      - 443:443/tcp
      - 127.0.0.1:81:81/tcp
    labels:
      docktail.service.enable: true
      docktail.service.name: nginx-mediaserver
      docktail.service.port: 81
      docktail.service.protocol: http
      docktail.service.service-port: 443
      docktail.service.service-protocol: https

  # https://docs.linuxserver.io/images/docker-duplicati
  duplicati:
    <<: *s6-service
    image: lscr.io/linuxserver/duplicati:2.2.0@sha256:e8102af032b42636fe85a2633f4cc9c074f4694ab850e3ac419aef12e602094d
    environment:
      <<: *s6-environment
      PUID: "0"
      PGID: "0"
    volumes:
      - duplicati:/config
      # any volumes that might be worth backing up
      - syncthing:/volumes/syncthing
      - plex:/volumes/plex
      - sonarr:/volumes/sonarr
      - radarr:/volumes/radarr
      - nzbhydra:/volumes/nzbhydra
      - jellyfin:/volumes/jellyfin
      - prowlarr:/volumes/prowlarr
      - ombi:/volumes/ombi
      - overseerr:/volumes/overseerr
      - sabnzbd:/volumes/sabnzbd
      - downloads:/volumes/downloads
      - proxy:/volumes/proxy
      - letsencrypt:/volumes/letsencrypt
      - tautulli:/volumes/tautulli
    ports:
      - 127.0.0.1:8200:8200/tcp
    labels:
      # https://github.com/marvinvr/docktail
      docktail.service.enable: true
      docktail.service.name: duplicati-mediaserver
      docktail.service.port: 8200
      docktail.service.protocol: http
      docktail.service.service-port: 443
      docktail.service.service-protocol: https

  # https://docs.linuxserver.io/images/docker-jellyfin
  jellyfin:
    <<: *s6-service
    image: lscr.io/linuxserver/jellyfin:10.11.4@sha256:234ea8d508b2cba26054d0dac9d4c0353435dce483e8b266947d473629774559
    devices:
      - /dev/dri:/dev/dri
    volumes:
      - jellyfin:/config
      - downloads:/downloads
    ports:
      - 127.0.0.1:8096:8096/tcp
    labels:
      # https://github.com/marvinvr/docktail
      docktail.service.enable: true
      docktail.service.name: jellyfin
      docktail.service.port: 8096
      docktail.service.protocol: http
      docktail.service.service-port: 443
      docktail.service.service-protocol: https
      # docktail.funnel.enable: true # Enable public internet access
      # docktail.funnel.port: 8096 # Container port for funnel

  # https://docs.linuxserver.io/images/docker-nzbhydra
  nzbhydra:
    <<: *s6-service
    image: lscr.io/linuxserver/nzbhydra2:8.1.2@sha256:13594ef8a264398642356bf92a9329c5135666f6f90dd2258b5b65b4de5eaf8a
    volumes:
      - nzbhydra:/config
      - downloads:/downloads
    ports:
      - 127.0.0.1:5076:5076/tcp
    labels:
      # https://github.com/marvinvr/docktail
      docktail.service.enable: true
      docktail.service.name: nzbhydra
      docktail.service.port: 5076
      docktail.service.protocol: http
      docktail.service.service-port: 443
      docktail.service.service-protocol: https

  # https://docs.linuxserver.io/images/docker-ombi
  ombi:
    <<: *s6-service
    image: lscr.io/linuxserver/ombi:4.47.1@sha256:acefcbde5f9fa09ea39451fc13fcc95aa6a877010b2d92f688a17361ddc14b3b
    volumes:
      - ombi:/config
    ports:
      - 127.0.0.1:3579:3579/tcp
    labels:
      # https://github.com/marvinvr/docktail
      docktail.service.enable: true
      docktail.service.name: ombi
      docktail.service.port: 3579
      docktail.service.protocol: http
      docktail.service.service-port: 443
      docktail.service.service-protocol: https

  # https://docs.linuxserver.io/images/docker-overseerr
  overseerr:
    <<: *s6-service
    image: lscr.io/linuxserver/overseerr:1.34.0@sha256:feddc11664639721d4e220d161ce5eb8fd2483d2e252e3e119570abcce3c7474
    volumes:
      - overseerr:/config
    ports:
      - 127.0.0.1:5055:5055/tcp
    labels:
      # https://github.com/marvinvr/docktail
      docktail.service.enable: true
      docktail.service.name: overseerr
      docktail.service.port: 5055
      docktail.service.protocol: http
      docktail.service.service-port: 443
      docktail.service.service-protocol: https

  # https://docs.linuxserver.io/images/docker-plex
  plex:
    <<: *s6-service
    image: lscr.io/linuxserver/plex:1.42.2@sha256:ab81c7313fb5dc4d1f9562e5bbd5e5877a8a3c5ca6b9f9fff3437b5096a2b123
    devices:
      - /dev/dri:/dev/dri
    volumes:
      - plex:/config
      - downloads:/downloads
    ports:
      - 127.0.0.1:32400:32400/tcp
    labels:
      # https://github.com/marvinvr/docktail
      docktail.service.enable: true
      docktail.service.name: plex
      docktail.service.port: 32400
      docktail.service.protocol: http
      docktail.service.service-port: 443
      docktail.service.service-protocol: https
      # docktail.funnel.enable: true # Enable public internet access
      # docktail.funnel.port: 32400 # Container port for funnel

  # https://docs.linuxserver.io/images/docker-prowlarr
  prowlarr:
    <<: *s6-service
    image: lscr.io/linuxserver/prowlarr:2.3.0@sha256:475853535de3de8441b87c1457c30f2e695f4831228b12b6b7274e9da409d874
    volumes:
      - prowlarr:/config
      - downloads:/downloads
    ports:
      - 127.0.0.1:9696:9696/tcp
    labels:
      # https://github.com/marvinvr/docktail
      docktail.service.enable: true
      docktail.service.name: prowlarr
      docktail.service.port: 9696
      docktail.service.protocol: http
      docktail.service.service-port: 443
      docktail.service.service-protocol: https

  # https://docs.linuxserver.io/images/docker-radarr
  radarr:
    <<: *s6-service
    image: lscr.io/linuxserver/radarr:6.0.4@sha256:06ac318ecb95a34c7b229568dcb4271f02cb5007bb189a0dd67a2032864187ca
    volumes:
      - radarr:/config
      - downloads:/downloads
    ports:
      - 127.0.0.1:7878:7878/tcp
    labels:
      # https://github.com/marvinvr/docktail
      docktail.service.enable: true
      docktail.service.name: radarr
      docktail.service.port: 7878
      docktail.service.protocol: http
      docktail.service.service-port: 443
      docktail.service.service-protocol: https

  # https://docs.linuxserver.io/images/docker-sabnzbd
  sabnzbd:
    <<: *s6-service
    image: lscr.io/linuxserver/sabnzbd:4.5.5@sha256:1c7be873e575c2ff8f699a5fafc79b34630baeeafcb46ad8a5ac75cef38057a5
    volumes:
      - sabnzbd:/config
      - downloads:/downloads
    ports:
      - 127.0.0.1:8080:8080/tcp
    labels:
      # https://github.com/marvinvr/docktail
      docktail.service.enable: true
      docktail.service.name: sabnzbd
      docktail.service.port: 8080
      docktail.service.protocol: http
      docktail.service.service-port: 443
      docktail.service.service-protocol: https

  # https://docs.linuxserver.io/images/docker-sonarr
  sonarr:
    <<: *s6-service
    image: lscr.io/linuxserver/sonarr:4.0.16@sha256:60e5edcac39172294ad22d55d1b08c2c0a9fe658cad2f2c4d742ae017d7874de
    volumes:
      - sonarr:/config
      - downloads:/downloads
    ports:
      - 127.0.0.1:8989:8989/tcp
    labels:
      # https://github.com/marvinvr/docktail
      docktail.service.enable: true
      docktail.service.name: sonarr
      docktail.service.port: 8989
      docktail.service.protocol: http
      docktail.service.service-port: 443
      docktail.service.service-protocol: https

  # https://docs.linuxserver.io/images/docker-syncthing
  syncthing:
    <<: *s6-service
    image: lscr.io/linuxserver/syncthing:2.0.12@sha256:33edb52c86194a4660a998cd9ad533677cbf635171a424a668a270c0cecd9a05
    volumes:
      - syncthing:/config
      # any volumes that might be worth syncronizing between machines
      - plex:/volumes/plex
      - sonarr:/volumes/sonarr
      - radarr:/volumes/radarr
      - nzbhydra:/volumes/nzbhydra
      - jellyfin:/volumes/jellyfin
      - prowlarr:/volumes/prowlarr
      - ombi:/volumes/ombi
      - overseerr:/volumes/overseerr
      - sabnzbd:/volumes/sabnzbd
      - downloads:/volumes/downloads
      - proxy:/volumes/proxy
      - tautulli:/volumes/tautulli
    ports:
      - 127.0.0.1:8384:8384/tcp
      - 22000:22000/tcp
      - 22000:22000/udp
      - 21027:21027/udp
    labels:
      # https://github.com/marvinvr/docktail
      docktail.service.enable: true
      docktail.service.name: syncthing-mediaserver
      docktail.service.port: 8384
      docktail.service.protocol: http
      docktail.service.service-port: 443
      docktail.service.service-protocol: https

  # https://docs.linuxserver.io/images/docker-tautulli
  tautulli:
    <<: *s6-service
    image: lscr.io/linuxserver/tautulli:2.16.0@sha256:4d764be0f66532f6820a82aa365e530414f50f462410ce0949edd3fc22ccb9d5
    volumes:
      - tautulli:/config
    ports:
      - 127.0.0.1:8181:8181/tcp
    labels:
      # https://github.com/marvinvr/docktail
      docktail.service.enable: true
      docktail.service.name: tautulli
      docktail.service.port: 8181
      docktail.service.protocol: http
      docktail.service.service-port: 443
      docktail.service.service-protocol: https

  # https://hub.docker.com/r/netdata/netdata
  netdata:
    image: netdata/netdata:v2.8.2@sha256:2b41c488661742eac7e57d1335203b13fe08bc8f9f4806a8d1718640b2f64d28
    restart: "on-failure"
    privileged: true
    cap_add:
      - SYS_PTRACE
    environment:
      DOCKER_HOST: "/var/run/balena.sock"
      PGID: "990" # ls -nd /var/run/balena.sock | awk '{print $4}'
    security_opt:
      - apparmor:unconfined
    tmpfs:
      - /tmp
    volumes:
      - netdatalib:/var/lib/netdata
      - netdatacache:/var/cache/netdata
    ports:
      - 127.0.0.1:19999:19999/tcp
    labels:
      io.balena.features.balena-socket: 1
      io.balena.features.procfs: 1
      io.balena.features.sysfs: 1
      # https://github.com/marvinvr/docktail
      docktail.service.enable: true
      docktail.service.name: netdata-mediaserver
      docktail.service.port: 19999
      docktail.service.protocol: http
      docktail.service.service-port: 443
      docktail.service.service-protocol: https
